.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 20px); /* Adjust the grid size if needed */
    grid-template-rows: repeat(15, 20px);
    gap: 4px;
    
    background-color: rgb(10,10,46);
    width: fit-content;
  }
  
  .grid-item {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: 600px) {

    .grid-container{
    grid-template-columns: repeat(20, 15px);
    grid-template-rows: repeat(15, 15px);
    gap: 2px;
    width: fit-content;
    }
    .grid-item{
      width: 15px;
      height: 15px;
    }
  }